[submodule "Plugins/ALS-Refactored"]
	path = Plugins/ALS-Refactored
	url = ../ALS-Refactored.git
[submodule "Plugins/ALSXT"]
	path = Plugins/ALSXT
	url = ../ALSXT.git
[submodule "Plugins/TargetVectorEOS"]
	path = Plugins/TargetVectorEOS
	url = ../TargetVectorEOS.git
[submodule "Plugins/TargetVectorCommonUI"]
	path = Plugins/TargetVectorCommonUI
	url = ../TargetVectorCommonUI.git
[submodule "Plugins/TargetVectorContent"]
	path = Plugins/TargetVectorContent
	url = ../TargetVectorContent.git
[submodule "Plugins/TargetVectorDebugNetStats"]
	path = Plugins/TargetVectorDebugNetStats
	url = ../TargetVectorDebugNetStats.git
[submodule "Plugins/TargetVectorCode"]
	path = Plugins/TargetVectorCode
	url = ../TargetVectorCode.git
[submodule "Plugins/TTToolbox"]
	path = Plugins/TTToolbox
	url = ../../tuatec/TTToolbox.git
[submodule "Plugins/EOSIntegrationKit"]
	path = Plugins/EOSIntegrationKit
	url = ../EOSIntegrationKit.git
[submodule "Plugins/Flora"]
	path = Plugins/Flora
	url = ../Flora.git
[submodule "Plugins/Ricochet"]
	path = Plugins/Ricochet
	url = ../Ricochet.git
[submodule "Plugins/Axos"]
	path = Plugins/Axos
	url = ../Axos.git
[submodule "Plugins/Chronos"]
	path = Plugins/Chronos
	url = ../Chronos.git
[submodule "Plugins/Clima"]
	path = Plugins/Clima
	url = ../Clima.git
[submodule "Plugins/UEModularFeatures_ExtraActions"]
	path = Plugins/UEModularFeatures_ExtraActions
	url = ../UEModularFeatures_ExtraActions.git
[submodule "Plugins/DataConfig"]
	path = Plugins/DataConfig
	url = ../DataConfig.git
